html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.header {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}


.links {
    display: flex;
    gap: 30px;
    
}


.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
}

.left-text {
    display: flex;
    flex-direction: column;
    flex-basis: 470px; 
}

.wallpaper {
    display: flex;
    
    
}

.photos {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px;
    gap: 50px;
    flex-grow: 50px;
      
    
}
.under {
    
}

.text {
    margin-top: 30px;
}



.quate {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 100px 150px;
    
    
    
}

.citat {
    max-width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.author {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}

.bot {
    display: flex;
    margin: 50px 100px;
    padding: 30px;
    justify-content: space-around;
    
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.title {
    display: flex;
    justify-content: center;
    padding: 30px;
}




















.link {
    color: white;
   
}




button {
    color: #F9FAF8;
    background-color: #3882f6;
    padding: 4px 30px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 16px;
    border-radius: 5px;
    border-style: none;
   
        
}



.bot1 {
    font-weight: 900;
}


.bot {
    color: #F9FAF8;
}


.hero, .footer {
    background-color: #1F2937;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secound-text, .link {
    font-size: 24px;
    color: #F9FAF8;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.quate {
    background-color: #e5e7eb;
}

.citat {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.bot {
    background-color: #3882f6;
}

.footer {
    color: #F9FAF8;
    margin-top: auto;

}

img {
    max-width: 200px;
}
